DEBUG=False
SECRET_KEY=''
DATABASE_URL='postgres://user:password@db:port/dbname'
GOOGLE_CLIENT_ID='example.apps.googleusercontent.com'
GOOGLE_CLIENT_SECRET='example'
POSTGRES_DB='your_db_name'
POSTGRES_USER='your_db_user'
POSTGRES_PASSWORD='your_db_password'
ALLOWED_HOSTS='host-ip,orhost-domain'
CSRF_TRUSTED_ORIGINS='host-ip,orhost-domain'