<!DOCTYPE html>
<html>
<head><title>{% block title %}{% endblock title %}</title></head>
<body>
    <h1>Library Manager</h1>
    <nav>
      {% if user.is_authenticated %}
        <p>Hi {{ user.email }}!</p> 
        <a href="{% url 'account_logout' %}">Logout</a>
        
      {% else %}
        <a href="{% url 'account_login' %}">Login</a>
        <a href="{% url 'account_signup' %}">Sign Up</a>
      {% endif %}
    </nav>
    <a href="{% url 'library:book_list'%}">Book List</a>
    {% block content %}{% endblock content %}
</body>
</html>